# توکن دریافتی از @BotFather
BOT_TOKEN=123456789:ABCdefGhIJKlmNoPQRsTUVwxyZ

# شناسه عددی اکانت شما (دریافت از @userinfobot)
ADMIN_ID=987654321

# پروکسی برای اجرای لوکال در ایران (اختیاری - در صورت داشتن v2ray/clash)
# PROXY_URL=http://127.0.0.1:10809
# یا برای ساکس:
# PROXY_URL=socks5://127.0.0.1:10808
